.cache/
.coverage
.idea/
.tox
*egg-info
testreport.html
__pycache__/
*egg-info
build
docs
target/
.vscode/
src/main/python/floatingpoints/floating_points_fixed_view.py
src/main/python/floatingpoints/floating_points_resizeable_view.py